@import url("https://fonts.cdnfonts.com/css/itc-avant-garde-pro-md");

:root {
  --primary-color: #1da1f2;
  --head-color: #0f2460;
}
body::-webkit-scrollbar {
  width: 3px;
  color: #0f2460;
  background-color: var(--primary-color);
}

body {
  background-color: aliceblue;
}
.center {
  display: flex;
  justify-content: center;
  align-items: center;
}
.m-l-40 {
  margin-left: 80px;
}
.m-r-40 {
  margin-right: 40px;
}
h1 {
  color: var(--head-color);
  text-align: center;
  font-family: "ITC Avant Garde Pro Md", sans-serif;
}
div {
  margin: 10px;
}
ul {
  list-style: none;
}
ul li {
  margin: 10px;
}
a {
  text-decoration: none !important;
}
section {
  margin: 50px 0;
}
/* nav */
nav {
  height: 100vh;
  padding: 0px 0 !important;
  position: fixed;
  z-index: 10;
  background-color: #fff;
  top: 0;
  min-width: 0px;
  overflow: hidden;
  transition: all 0.3s ease-in-out;
  width: 0%;
  right: 0;
  -moz-transition: all 0.3s ease-in-out;
  -o-transition: all 0.3s ease-in-out;
  -webkit-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
  box-shadow: 0 0 20px 0px #dedede;
}
.nave div:first-child {
  padding: 20px;
}
.nave div:first-child,
.nave div:last-child {
  height: 20vh;
}
.nave div:nth-child(2) {
  height: 60vh;
}
.nave div:nth-child(2) ul {
  margin: 0;
  padding: 0;
}
.nave div:nth-child(2) ul li a {
  padding: 10px;
  color: var(--primary-color);
  border-radius: 7px;
  transition: all 0.3s ease-in-out;
}

.btn {
  height: 40px;
  font-size: 15px;
  width: 250px;
  background-color: var(--primary-color) !important;
  border-radius: 40px !important;
  color: aliceblue !important;
  font-family: itc-bd;
}
.btn:active,
.btn:focus,
.btn:hover,
.nave div:nth-child(2) ul li a:hover,
.nave div:nth-child(2) ul li a:focus,
.nave div:nth-child(2) ul li a:active,
.active {
  color: #fff !important;
  box-shadow: 0px 8px 15px 0px rgb(21 128 241 / 25%);
  background-color: var(--primary-color);
}
/* header */
.header {
  min-height: 100vh;
}
.header .container {
  background-image: url("../asset/pattern.png");
  background-repeat: repeat;
  background-size: cover;
  background-position-x: center;
  min-height: 100vh;

  animation: pattern-anim 50s infinite;
}
.sec {
  height: auto;
  width: 100%;
  overflow: hidden;
  transition: all 0.3s ease-in-out;
}

.header h1,
.header p,
.header a {
  margin: 20px 0;
}
.nave-btn {
  position: fixed;
  color: aliceblue;
  transition: all 0.3s ease-in-out;
  top: calc(50% - 50px);
  right: 0%;
  font-size: 22px;
  z-index: 11;
  font-weight: bolder;
  border: 0;
  background-color: var(--primary-color);
  height: 100px;
  display: flex;
  justify-content: center;
  width: 50px;
  align-items: center;
  text-align: center;
  border-radius: 20px 3px 3px 20px;
}
.close-btn {
  border: 0;
  background: none;
  margin: 20px;
  position: absolute;
}

#partners .elm {
  width: calc(100% / 5);
}

#partners div {
  margin: 10px 0;
}
#partners .elm a {
  display: flex;
  justify-content: center;
  align-items: center;
}
.elm img,
.res img {
  filter: grayscale(100%);
  transition: all 0.3s ease-in-out;
  width: 70% !important;
}
.elm a:hover img,
.res a:hover img {
  filter: grayscale(0%);
}
.step {
  flex-direction: column !important;
}
.step a {
  min-height: 174px;
  min-width: 138px;
  display: flex;
  align-items: center;
  justify-content: center;
  margin: auto;
}
.step img {
  height: auto;
  max-width: 100%;
}
.serv img {
  width: 100% !important;
}
.scroll-btn {
  position: absolute;
  top: -50px;
  background: none;
  border: 25px solid;
  transition: all 0.5s ease-in-out;
  padding: 0;
  border-color: transparent transparent var(--primary-color) transparent;
}

.clients {
  height: 50vh;
}
.client img {
  width: 100%;
}
.client {
  position: absolute;
  padding: 10px;
  width: 120px !important;
  height: 120px !important;
  border-radius: 50%;
  overflow: hidden;
  box-shadow: 0 0 10px 10px #dedede;
}
.team {
  width: calc(100% / 5) !important;
}
.team a img {
  width: 100%;
}
.serves {
  position: relative;
  overflow: hidden;
  height: 60vh !important;
}
.serv {
  width: 50% !important;
}
.serves .theserve {
  position: absolute;
  overflow: hidden;
  height: 0;
  bottom: 0;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  width: 100%;
  transition: -webkit-transform 0.6s ease;
  transition: all 0.6s ease;
  transition: all 0.6s ease, -webkit-transform 0.6s ease;
  -webkit-backface-visibility: hidden;
  backface-visibility: hidden;
  -webkit-perspective: 1000px;
  perspective: 1000px;
}
.serv-active {
  height: 60vh !important;
  top: 0;
}

.serv-section button {
  width: 50px;
  height: 50px;
  border-radius: 50%;
  transition: all 0.3s ease;
  background-repeat: no-repeat;
  background-size: cover;
  border: 1px solid black;
  background-color: transparent;
  margin: 5px;
  box-shadow: 0 0 20px 0px #dedede;
}
.btn-active {
  border: 5px solid var(--primary-color) !important;
}
#service,
#team {
  background-color: #f0f4f5;
}
footer {
  background-color: var(--primary-color);
  color: white;
}
footer .container {
  padding-top: 0px;
  height: 0;
  transition: all 0.3s ease;
  overflow: hidden;
  align-items: start;
}
footer .container div {
  width: calc(100% / 3) !important;
}
footer .container div p {
  text-align: center;
}
/* media */
@media only screen and (max-width: 1300px) {
  .client {
    position: unset !important;
  }
  .clients {
    flex-wrap: wrap !important;
    height: auto !important;
  }
  nav {
    min-width: 0px;
    overflow: hidden;
    width: 0px;
    position: fixed;
  }
  .header {
    width: 100% !important;
  }
  section {
    width: 100% !important;
  }

  #partners .container .elms {
    flex-direction: column !important;
  }
  #partners .container .elms .elm {
    width: 100% !important;
  }

  #result .container .res {
    width: 100% !important;
  }

  footer .container {
    flex-direction: column !important;
  }
  footer .container div {
    width: 100% !important;
    margin: 0 !important;
  }
}
@media only screen and (max-width: 700px) {
  ul li {
    margin: 7px;
  }
  .nave {
    justify-content: end !important;
  }
  .header .container {
    flex-direction: column !important;
  }
  .header .container div {
    width: 100% !important;
    align-items: center !important;
  }
  .header .container div:first-child {
    flex-direction: column !important;
  }
  .header .container div:last-child {
    flex-direction: column !important;
  }

  .sec .container div:nth-child(2) {
    flex-direction: column !important;
  }
  .team {
    width: calc(100% / 2) !important;
  }
  .serves {
    height: auto !important;
    min-height: 100vh;
  }
  .theserve {
    flex-direction: column !important;
  }
  .serv {
    width: 100% !important;
  }
  .theserve div:last-child {
    width: 100% !important;
  }
  .serv-active {
    height: 100vh !important;
  }
}

@keyframes pattern-anim {
  0% {
    background-position-y: 0;
  }
  100% {
    background-position-y: 800px;
  }
}
@keyframes up {
  0% {
    bottom: 30px;
  }
  100% {
    bottom: 35px;
  }
}
